main{
    background-color: rgb(42, 194, 22);
    /* height:500px; */
    width:500px;
    border-radius:16px;

    padding:16px;
    margin:auto;
}
img{
    object-fit:cover;
    display:block;
    width:100%;
    border-radius:10px;
    height: 300px;
}
h3{
    font-size:30px;
}
button{
    width:80%;
    color: beige;
    padding:10px;
    border-radius:40px;
    background-color: blue;
}
body{
    background-image:url(/imaggeeee/fissshhh.jpeg);
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(9, 54, 22, 0.9);
}